<template>
  <li class="list-group-item" v-if="shouldBeVisible">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{ item.title }}</h4>
      <span>{{ amount }}&times;</span>
    </div>
    <p class="mb-1">{{ item.description }}</p>
    <p class="mb-1 text-muted">
      Generates <strong v-bind:title="rawNumber(generation)">&#36;{{ cleanNumber(generation) }}</strong>
      a piece <br>
      <strong>{{ moneyPerSecondPercentage }}&#37;</strong> of total &#36;<sub>&#47;s</sub>
    </p>
    <div class="store-block-action btn-group float-end">
      <button type="button"
              v-bind:class="{ 'btn': true, 'btn-outline-primary': money >= price, 'btn-outline-danger': money < price }"
              v-bind:disabled="money < price"
              v-bind:title="rawNumber(price)">
        &#36;{{ cleanNumber(price) }}
      </button>
      <button type="button"
              v-bind:class="{ 'btn': true, 'btn-primary': money >= price, 'btn-danger': money < price }"
              v-bind:disabled="money < price"
              v-on:click="purchaseItem">
        Purchase
      </button>
    </div>
  </li>
</template>

<script lang="ts">
import {computed, defineComponent, PropType} from "vue"
import Item from "@/types/Item"
import {useStore} from "vuex"
import {
  amountOfItem,
  calculatedPrice,
  formatCleanNumber,
  formatRawNumber,
  itemGeneration,
  itemMoneyPerSecond,
  itemMoneyPerSecondPercentage
} from "@/functions/functions"
import Items from "@/data/Items"

export default defineComponent({
  name: "StoreListItem",
  props: {
    item: {
      required: true,
      type: Object as PropType<Item>
    }
  },
  setup(props) {
    const store = useStore()

    const cleanNumber = (number: number) => formatCleanNumber(number)
    const rawNumber = (number: number) => formatRawNumber(number)

    const money = computed(() => store.getters.money)
    const bonus = computed(() => store.getters.bonus)
    const amount = computed(() => amountOfItem(props.item))
    const price = computed(() => calculatedPrice(props.item))
    const generation = computed(() => itemGeneration(props.item))
    const moneyPerSecond = computed(() => itemMoneyPerSecond(props.item))
    const moneyPerSecondPercentage = computed(() => itemMoneyPerSecondPercentage(props.item))

    const shouldBeVisible = computed(() => {
      const isFirstItem = Items.length > 0 && Items[0].id === props.item.id
      const isNowOrSoonPayable = store.getters.stats.mostMoneyOwned >= price.value / 3
      return isFirstItem || isNowOrSoonPayable
    })

    function purchaseItem() {
      if (money.value >= price.value) {
        store.dispatch("purchaseItem", {item: props.item, price: price.value})
      }
    }

    return {
      bonus,
      amount,
      money,
      price,
      generation,
      moneyPerSecond,
      moneyPerSecondPercentage,
      shouldBeVisible,
      purchaseItem,
      cleanNumber,
      rawNumber
    }
  }
})
</script>
