<template>
  <li class="list-group-item" v-if="shouldBeVisible">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{ upgrade.title }}</h4>
    </div>
    <p class="mb-1">{{ upgrade.description }}</p>
    <p class="mb-1" v-if="upgrade.helper">{{ upgrade.helper }}</p>
    <p class="mb-1 text-muted">
      Applies to <strong>{{ appliesTo }}</strong>.<br/>
      Generation multiplier <strong>{{ upgrade.generationMultiplier }}&times;</strong><br/>
      Price multiplier <strong>{{ upgrade.priceMultiplier }}&times;</strong>
    </p>
    <div class="store-block-action btn-group float-end">
      <button type="button"
              v-bind:class="{ 'btn': true, 'btn-outline-primary': canPurchase, 'btn-outline-danger': !canPurchase }"
              v-bind:disabled="!canPurchase"
              v-bind:title="rawNumber(upgrade.price)">
        &#36;{{ cleanNumber(upgrade.price) }}
      </button>
      <button type="button"
              v-bind:class="{ 'btn': true, 'btn-primary': canPurchase, 'btn-danger': !canPurchase }"
              v-bind:disabled="!canPurchase"
              v-on:click="purchaseUpgrade">
        Purchase
      </button>
    </div>
  </li>
</template>

<script lang="ts">
import {computed, defineComponent, PropType} from "vue"
import {useStore} from "vuex"
import {
  formatCleanNumber,
  formatRawNumber,
  getInventoryItemById,
  getInventoryUpgradeById,
  getItemById
} from "@/functions/functions"
import Upgrade from "@/types/Upgrade"
import Requirement from "@/types/Requirement"
import InventoryItem from "@/types/InventoryItem"
import Upgrades from "@/data/Upgrades"
import validate from "@/functions/validate"

export default defineComponent({
  name: "StoreListUpgrade",
  props: {
    upgrade: {
      required: true,
      type: Object as PropType<Upgrade>
    }
  },
  setup(props) {
    const store = useStore()

    const cleanNumber = (number: number) => formatCleanNumber(number)
    const rawNumber = (number: number) => formatRawNumber(number)

    const appliesTo = props.upgrade.appliesTo.map((id: string) => getItemById(id)?.title || "").filter((title: string) => title.length > 0).join(", ")

    const money = computed(() => store.getters.money)
    const hasPurchased = computed(() => typeof getInventoryUpgradeById(props.upgrade.id) !== "undefined")

    function purchaseUpgrade() {
      if (money.value >= props.upgrade.price) {
        store.dispatch("purchaseUpgrade", {upgrade: props.upgrade, price: props.upgrade.price})
      }
    }

    const shouldBeVisible = computed(() => {
      if (hasPurchased.value) {
        return false
      }
      const isFirstUpgrade = Upgrades.length > 0 && Upgrades[0].id === props.upgrade.id
      const isNowOrSoonPayable = store.getters.stats.mostMoneyOwned >= props.upgrade.price / 3
      return isFirstUpgrade || isNowOrSoonPayable
    })

    const canPurchase = computed(() => {
      if (money.value < props.upgrade.price) {
        return false
      }

      const requirements = props.upgrade.requirements

      if (typeof requirements === "undefined") {
        return true
      }

      const inventoryItems = [] as Array<InventoryItem>
      const itemIds = props.upgrade.appliesTo

      itemIds.forEach((id: string) => {
        const inventoryItem = getInventoryItemById(id)

        if (typeof inventoryItem !== "undefined") {
          inventoryItems.push(inventoryItem)
        }
      })

      let counter = 0

      inventoryItems.forEach((inventoryItem: InventoryItem) => {
        const filtered = requirements.filter((requirement: Requirement) => validate(inventoryItem, requirement))
        if (filtered.length === requirements.length) {
          counter++
        }
      })

      return inventoryItems.length === counter
    })

    return {
      cleanNumber,
      rawNumber,
      appliesTo,
      money,
      hasPurchased,
      purchaseUpgrade,
      shouldBeVisible,
      canPurchase
    }
  }
})
</script>
