<template>
  <li class="list-group-item" v-if="shouldBeVisible">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{ mouse.title }}</h4>
    </div>
    <p class="mb-1">{{ mouse.description }}</p>
    <p class="mb-1 text-muted">
      Percentage <strong>{{ mouse.percentage }}&#37;</strong>
    </p>
    <div class="store-block-action btn-group float-end">
      <button type="button"
              v-bind:class="{ 'btn': true, 'btn-outline-primary': money >= mouse.price, 'btn-outline-danger': money < mouse.price }"
              v-bind:disabled="money < mouse.price"
              v-bind:title="rawNumber(mouse.price)">
        &#36;{{ cleanNumber(mouse.price) }}
      </button>
      <button type="button"
              v-bind:class="{ 'btn': true, 'btn-primary': money >= mouse.price, 'btn-danger': money < mouse.price }"
              v-bind:disabled="money < mouse.price"
              v-on:click="purchaseMouse">
        Purchase
      </button>
    </div>
  </li>
</template>

<script lang="ts">
import {computed, defineComponent, PropType} from "vue"
import {useStore} from "vuex"
import {formatCleanNumber, formatRawNumber, getInventoryMouseById} from "@/functions/functions"
import Mouse from "@/types/Mouse"
import Mice from "@/data/Mice"

export default defineComponent({
  name: "StoreListMouse",
  props: {
    mouse: {
      required: true,
      type: Object as PropType<Mouse>
    }
  },
  setup(props) {
    const store = useStore()

    const cleanNumber = (number: number) => formatCleanNumber(number)
    const rawNumber = (number: number) => formatRawNumber(number)

    const money = computed(() => store.getters.money)
    const hasPurchased = computed(() => typeof getInventoryMouseById(props.mouse.id) !== "undefined")

    function purchaseMouse() {
      if (money.value >= props.mouse.price) {
        store.dispatch("purchaseMouse", {mouse: props.mouse, price: props.mouse.price})
      }
    }

    const shouldBeVisible = computed(() => {
      const hasPurchased = getInventoryMouseById(props.mouse.id)

      if (hasPurchased) {
        return false
      }

      const isFirstUpgrade = Mice.length > 0 && Mice[0].id === props.mouse.id
      const isNowOrSoonPayable = store.getters.stats.mostMoneyOwned >= props.mouse.price / 3
      return isFirstUpgrade || isNowOrSoonPayable
    })

    return {
      cleanNumber,
      rawNumber,
      money,
      hasPurchased,
      purchaseMouse,
      shouldBeVisible
    }
  }
})
</script>
