<template>
  <section class="store-list">
    <ul class="nav nav-justified nav-pills mb-3">
      <li class="nav-item px-1">
        <button type="button"
                v-bind:class="{ 'btn w-100': true, 'btn-primary': selected === 'items', 'btn-outline-primary': selected !== 'items' }"
                v-on:click="select('items')">Items
        </button>
      </li>
      <li class="nav-item px-1">
        <button type="button"
                v-bind:class="{ 'btn w-100': true, 'btn-primary': selected === 'upgrades', 'btn-outline-primary': selected !== 'upgrades' }"
                v-on:click="select('upgrades')">Upgrades
        </button>
      </li>
      <li class="nav-item px-1">
        <button type="button"
                v-bind:class="{ 'btn w-100': true, 'btn-primary': selected === 'mice', 'btn-outline-primary': selected !== 'mice' }"
                v-on:click="select('mice')">Mice
        </button>
      </li>
    </ul>
    <ul class="list-group store-scroll" v-show="selected === 'items'">
      <StoreListItem v-for="item in items" v-bind:key="item.id" v-bind:item="item"/>
    </ul>
    <ul class="list-group store-scroll" v-show="selected === 'upgrades'">
      <StoreListUpgrade v-for="upgrade in upgrades" v-bind:key="upgrade.id" v-bind:upgrade="upgrade"/>
    </ul>
    <ul class="list-group store-scroll" v-show="selected === 'mice'">
      <StoreListMouse v-for="mouse in mice" v-bind:key="mouse.id" v-bind:mouse="mouse"/>
    </ul>
  </section>
</template>

<script lang="ts">
import StoreListItem from "@/components/store/StoreListItem.vue"
import StoreListUpgrade from "@/components/store/StoreListUpgrade.vue"
import StoreListMouse from "@/components/store/StoreListMouse.vue"
import {defineComponent, ref} from "vue"
import Items from "@/data/Items"
import Mice from "@/data/Mice"
import Upgrades from "@/data/Upgrades"

export default defineComponent({
  name: "StoreList",
  components: {
    StoreListMouse,
    StoreListUpgrade,
    StoreListItem
  },
  setup() {
    const items = Items
    const upgrades = Upgrades
    const mice = Mice

    let selected = ref("items")

    function select(value: "items" | "upgrades" | "mice") {
      selected.value = value
    }

    return {
      items,
      upgrades,
      mice,
      selected,
      select
    }
  }
})
</script>
