<template>
  <section class="click-board">
    <h1 class="display-4 text-lg-center mb-0">You have
      <span class="money is-amount" v-bind:title="rawNumber(money)" v-if="money !== 0">
        &#36;{{ cleanNumber(animatedMoney) }}
      </span>
      <span class="money" v-else>nothing!</span>
    </h1>
    <p class="lead text-lg-center mb-0">...which can be used to purchase items and upgrades from the store!</p>
    <ClickBoardButtons></ClickBoardButtons>
    <NewGamePlus v-if="finishedGame"/>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent, ref, watch} from "vue"
import {useStore} from "vuex"
import {formatCleanNumber, formatRawNumber, getInventoryUpgradeById} from "@/functions/functions"
import TWEEN from "@tweenjs/tween.js"
import ClickBoardButtons from "@/components/board/ClickBoardButtons.vue"
import NewGamePlus from "@/components/NewGamePlus.vue"

export default defineComponent({
  name: "ClickBoard",
  components: {
    NewGamePlus,
    ClickBoardButtons
  },
  setup() {
    const store = useStore()

    const cleanNumber = (number: number) => formatCleanNumber(number)
    const rawNumber = (number: number) => formatRawNumber(number)

    const money = computed(() => store.getters.money)
    const animatedMoney = ref(money.value)

    watch(money, currentValue => {
      const duration = Math.abs(currentValue - animatedMoney.value) > 10 ? 1000 : 100
      const data = {tweenNumber: animatedMoney.value}

      new TWEEN.Tween(data).to({tweenNumber: money.value}, duration).onUpdate(() => {
        animatedMoney.value = data.tweenNumber
      }).start()
    })

    const finishedGame = computed(() => typeof getInventoryUpgradeById("58ba5618-45ec-45f9-8997-1b725753e1e8") !== "undefined")

    return {
      cleanNumber,
      rawNumber,
      money,
      animatedMoney,
      finishedGame
    }
  }
})
</script>
