<template>
  <div class="btn-group-wrapper">
    <div class="btn-group mb-2">
      <button type="button" class="btn btn-lg btn-outline-primary" v-bind:title="rawNumber(totalMoneyPerSecond)">
        &#36;{{ cleanNumber(totalMoneyPerSecond) }}<sub>&#47;s</sub>
      </button>
      <button type="button"
              v-bind:class="{ 'btn btn-lg btn-primary': true, 'primary-color-cycle': totalClickCount === 0  }"
              v-on:click="click">
        Click here
      </button>
    </div>
    <p class="small mb-0">You are generating <strong
        v-bind:title="rawNumber(clickPerSecond)">&#36;{{ cleanNumber(clickPerSecond) }}</strong> per click.</p>
    <p class="small mb-0">You have <strong>{{ clicksPerSecond }}</strong> <span>click<template
        v-if="clicksPerSecond !== 1">s</template></span>
      per second.
    </p>
    <p class="small mb-0" v-if="bonus > 0">You have a <strong>{{ bonus }}&#37;</strong> bonus included in your money per
      second.</p>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent} from "vue"
import {useStore} from "vuex"
import {formatCleanNumber, formatRawNumber, getMouseById, totalItemMoneyPerSecond} from "@/functions/functions"
import InventoryMouse from "@/types/InventoryMouse"

export default defineComponent({
  name: "ClickBoardButtons",
  setup() {
    const store = useStore()

    const totalMoneyPerSecond = computed(() => totalItemMoneyPerSecond())
    const totalClickCount = computed(() => store.getters.stats.totalClickCount)
    const clicksPerSecond = computed(() => store.getters.clicksPerSecond)
    const bonus = computed(() => store.getters.bonus)

    const cleanNumber = (number: number) => formatCleanNumber(number)
    const rawNumber = (number: number) => formatRawNumber(number)

    const clickPerSecondPercentage = computed(() => {
      let clickPercentage = 1

      store.getters.inventory.mice.forEach((inventoryMouse: InventoryMouse) => {
        const mouse = getMouseById(inventoryMouse.id)

        if (typeof mouse !== "undefined") {
          clickPercentage = Math.max(clickPercentage, mouse.percentage)
        }
      })

      return clickPercentage
    })

    const clickPerSecond = computed(() => {
      return 1 + clickPerSecondPercentage.value / 100 * totalMoneyPerSecond.value
    })

    function click(event: MouseEvent) {
      if (event.clientX > 0 && event.clientY > 0) {
        store.dispatch("incrementMoney", clickPerSecond.value)
        store.dispatch("incrementClick")
      }
    }

    return {
      rawNumber,
      cleanNumber,
      totalMoneyPerSecond,
      totalClickCount,
      clickPerSecond,
      clicksPerSecond,
      bonus,
      click
    }
  }
})
</script>