section.click-board {
  position: relative;
  padding-top: map-get($spacers, 5);

  @include media-breakpoint-down(lg) {
    padding-top: 0;
  }

  span.money {
    &.is-amount {
      display: inline-block;
      width: 220px;
      text-align: left;

      @include media-breakpoint-down(lg) {
        width: auto;
      }
    }
  }

  .btn-group-wrapper {
    padding: 5rem 0 2.5rem 0;
    text-align: center;

    .btn-lg {
      padding: map-get($spacers, 3) map-get($spacers, 4);
      @include media-breakpoint-down(lg) {
        padding: map-get($spacers, 4) map-get($spacers, 4);
      }
    }
  }
}
