html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body, #app, .application {
  min-height: 100vh;
}

.application {
  background-color: $white;
  transition: filter 250ms linear;
  display: flex;
  flex-direction: column;

  &.invert {
    filter: invert(100%);
  }

  main {
    flex: 1 0 auto;

    .jumbotron {
      border: 2px solid $gray-800;
      border-radius: 555px 25px 15px 25px/25px 5px 35px 555px;
      padding: map-get($spacers, 3);
    }
  }
}

.primary-color-cycle {
  animation: primary-color-cycle 2s infinite linear;
}

@keyframes primary-color-cycle {
  0% {
    color: $primary
  }
  50% {
    color: $white;
  }
  100% {
    color: $primary
  }
}
