header {
  nav.navbar {
    padding: map-get($spacers, 2) map-get($spacers, 3);
    margin: map-get($spacers, 3) 0;

    .nav-item {
      @include media-breakpoint-down(lg) {
        margin-bottom: map-get($spacers, 2);

        .btn {
          display: block;
          width: 100%;
        }
      }

      &.nav-item-tooltip {
        position: relative;

        .tooltip {
          width: 100px;
          right: 0;
        }
      }
    }
  }
}
