section.store-list {
  .list-group {
    background-color: $white;
    min-height: 550px;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0;

    &-item {
      margin-bottom: map-get($spacers, 3);
      border: 2px solid $gray-800;
      padding: map-get($spacers, 3);
      border-radius: 255px 5px 225px 5px/25px 225px 25px 255px;

      .store-block-action {
        margin-top: map-get($spacers, 3);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-down(lg) {
      min-height: unset;
      max-height: unset;
    }
  }
}
