<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link v-bind:class="{ 'navbar-brand': true, 'active': $route.name === 'Clicker' }"
                 v-bind:to="{ name: 'Clicker', params: {} }">
      Clicker
    </router-link>
    <button v-bind:class="{ 'navbar-toggler': true, 'collapsed': navbarCollapsed }" type="button"
            v-on:click="toggleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div v-bind:class="{ 'navbar-collapse collapse': true, 'show': !navbarCollapsed }">
      <ul class="navbar-nav me-auto">
        <NavItemTimeSpent></NavItemTimeSpent>
        <NavItemTotalClickCount></NavItemTotalClickCount>
        <NavItemAutoSave></NavItemAutoSave>
      </ul>
      <ul class="navbar-nav navbar-nav-margin">
        <NavItemInvertColor></NavItemInvertColor>
        <NavItemSaveGame></NavItemSaveGame>
        <NavItemResetGame></NavItemResetGame>
      </ul>
    </div>
  </nav>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue"
import NavItemTimeSpent from "@/components/navigation/items/NavItemTimeSpent.vue"
import NavItemTotalClickCount from "@/components/navigation/items/NavItemTotalClickCount.vue"
import NavItemAutoSave from "@/components/navigation/items/NavItemAutoSave.vue"
import NavItemInvertColor from "@/components/navigation/items/NavItemInvertColor.vue"
import NavItemSaveGame from "@/components/navigation/items/NavItemSaveGame.vue"
import NavItemResetGame from "@/components/navigation/items/NavItemResetGame.vue"

export default defineComponent({
  name: "TheNavigation",
  components: {
    NavItemResetGame,
    NavItemSaveGame,
    NavItemInvertColor,
    NavItemAutoSave,
    NavItemTotalClickCount,
    NavItemTimeSpent
  },
  setup() {
    let navbarCollapsed = ref(true)

    function toggleNavbar() {
      navbarCollapsed.value = !navbarCollapsed.value
    }

    return {
      navbarCollapsed,
      toggleNavbar
    }
  }
})
</script>
