<template>
  <section class="clicker">
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <ClickBoard/>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <StoreList/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {defineComponent} from "vue"
import ClickBoard from "@/components/board/ClickBoard.vue"
import StoreList from "@/components/store/StoreList.vue"

export default defineComponent({
  name: "Clicker",
  components: {
    ClickBoard,
    StoreList
  }
})
</script>
