<template>
  <li class="nav-item">
    <span class="nav-link" v-bind:title="`You have clicked ${totalClickCount} times so far!`">{{
        totalClickCount
      }} clicks</span>
  </li>
</template>

<script lang="ts">
import {computed, defineComponent} from "vue"
import {useStore} from "vuex"

export default defineComponent({
  name: "NavItemTotalClickCount",
  setup() {
    const store = useStore()

    const totalClickCount = computed(() => store.getters.stats.totalClickCount)

    return {
      totalClickCount
    }
  }
})
</script>