<template>
  <li class="nav-item nav-item-tooltip ms-0 ms-lg-2">
    <button type="button" class="btn btn-primary" v-on:click="saveGame">
      Save
    </button>
    <div v-bind:class="{ 'tooltip fade bs-tooltip-bottom': true, 'show': showTooltip }">
      <div class="arrow"></div>
      <div class="tooltip-inner">Game saved</div>
    </div>
  </li>
</template>

<script lang="ts">
import {computed, defineComponent, ref, watch} from "vue"
import {useStore} from "vuex"

export default defineComponent({
  name: "NavItemSaveGame",
  setup() {
    const store = useStore()

    function saveGame() {
      const response = store.dispatch("saveGame")
      if (!response) {
        alert("Something went wrong saving your game.")
      }
    }

    let showTooltip = ref(false)
    const lastSaved = computed(() => store.getters.lastSaved)

    watch(lastSaved, () => {
      showTooltip.value = true
      setTimeout(() => {
        showTooltip.value = false
      }, 2000)
    })

    return {
      showTooltip,
      saveGame
    }
  }
})
</script>