<template>
  <li class="nav-item">
    <span class="nav-link text-muted">Auto-saves every 2 minutes</span>
  </li>
</template>

<script lang="ts">
import {defineComponent} from "vue"

export default defineComponent({
  name: "NavItemAutoSave"
})
</script>