<template>
  <li class="nav-item nav-item-tooltip ms-0 ms-lg-2">
    <button type="button" class="btn btn-secondary" v-on:click="resetGame">
      Reset
    </button>
    <div v-bind:class="{ 'tooltip fade bs-tooltip-bottom': true, 'show': showTooltip }">
      <div class="arrow"></div>
      <div class="tooltip-inner">Game reset</div>
    </div>
  </li>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue"
import {useStore} from "vuex"

export default defineComponent({
  name: "NavItemResetGame",
  setup() {
    const store = useStore()

    let showTooltip = ref(false)

    function resetGame() {
      const confirmation = confirm("Are you sure you want to remove your progress? This cannot be undone.")

      if (!confirmation) {
        return
      }

      store.dispatch("resetGame")

      showTooltip.value = true
      setTimeout(() => {
        showTooltip.value = false
      }, 2000)
    }

    return {
      showTooltip,
      resetGame
    }
  }
})
</script>