<template>
  <li class="nav-item">
    <span class="nav-link" v-bind:title="`${timeSpent} wasted :)`">{{ timeSpent }}</span>
  </li>
</template>

<script lang="ts">
import {computed, defineComponent} from "vue"
import {useStore} from "vuex"

export default defineComponent({
  name: "NavItemTimeSpent",
  setup() {
    const store = useStore()

    const timeSpent = computed(() => {
      const tickCount = store.getters.tickCount

      if (tickCount >= 3600) {
        const hours = Math.floor(tickCount / 3600)
        const minutes = Math.floor(((tickCount / 3600) - hours) * 60)
        const hoursOutput = hours === 1 ? hours + " hour" : hours + " hours"
        const minutesOutput = minutes > 0 ? (minutes === 1 ? ", " + minutes + " minute" : ", " + minutes + " minutes") : ""

        return hoursOutput + minutesOutput
      } else if (tickCount >= 60) {
        const amount = Math.floor(tickCount / 60)

        return amount === 1 ? amount + " minute" : amount + " minutes"
      } else {
        return tickCount === 1 ? tickCount + " second" : tickCount + " seconds"
      }
    })

    return {
      timeSpent
    }
  }
})
</script>