<template>
  <li class="nav-item">
    <button type="button" class="btn btn-primary" v-on:click="toggleInvert">
      {{ invert ? 'Light' : 'Dark' }} mode
    </button>
  </li>
</template>

<script lang="ts">
import {computed, defineComponent} from "vue"
import {useStore} from "vuex"

export default defineComponent({
  name: "NavItemInvertColor",
  setup() {
    const store = useStore()

    const invert = computed(() => store.getters.invert)

    function toggleInvert() {
      store.dispatch("toggleInvert")
    }

    return {
      invert,
      toggleInvert
    }
  }
})
</script>