<template>
  <section class="new-game-plus">
    <div class="alert alert-success mb-0">
      <h4 class="alert-heading">Congratulations!</h4>
      <p>
        You have successfully bought the last upgrade in the shop. This means that you have completed the game, yay! You
        can reset the game and start a new one, receiving a <strong>+5&#37;</strong> bonus. However, this action cannot
        be undone.
      </p>
      <p>Your total bonus will be <strong>{{ bonus + 5 }}&#37;</strong>.</p>
      <div class="text-end">
        <button type="button" class="btn btn-success" v-on:click="newGamePlus">Start my new journey!</button>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {computed, defineComponent} from "vue"
import {useStore} from "vuex"

export default defineComponent({
  name: "NewGamePlus",
  setup() {
    const store = useStore()

    const bonus = computed(() => store.getters.bonus)

    function newGamePlus() {
      const confirmation = confirm("Are you sure you want to start over with a bonus? This cannot be undone.")

      if (!confirmation) {
        return
      }

      const payload = {
        tickCount: store.getters.tickCount,
        stats: {
          totalClickCount: store.getters.stats.totalClickCount
        },
        bonus: store.getters.bonus + 5
      }

      store.dispatch("resetGame", payload)
    }

    return {
      bonus,
      newGamePlus
    }
  }
})
</script>
