<template>
  <footer class="py-4">
    <div class="container">
      <p class="text-muted small">The money, items, upgrades and mice in this game are all fake and cannot be withdrawn, it is
        for amusement purposes only. Have fun!</p>
      <p class="text-muted mb-0">Crafted with &#9829; by <a class="text-muted" href="https://www.ramonrietdijk.nl/"
                                                            target="_blank">Ramon Rietdijk</a>.</p>
    </div>
  </footer>
</template>

<script>
import {defineComponent} from "vue"

export default defineComponent({
  name: "TheFooter"
})
</script>
