<template>
  <header>
    <div class="container">
      <TheNavigation></TheNavigation>
    </div>
  </header>
</template>

<script lang="ts">
import {defineComponent} from "vue"
import TheNavigation from "@/components/navigation/TheNavigation.vue"

export default defineComponent({
  name: "TheHeader",
  components: {
    TheNavigation
  }
})
</script>
