<template>
  <div v-bind:class="{ 'application': true, 'invert': invert }">
    <HeaderComponent/>
    <main>
      <router-view/>
    </main>
    <FooterComponent/>
  </div>
</template>

<script lang="ts">
import HeaderComponent from "@/components/TheHeader.vue"
import FooterComponent from "@/components/TheFooter.vue"
import {computed, defineComponent} from "vue"
import {useStore} from "vuex"

export default defineComponent({
  name: "App",
  components: {
    HeaderComponent,
    FooterComponent
  },
  setup() {
    const store = useStore()

    const invert = computed(() => store.getters.invert)

    return {
      invert
    }
  }
})
</script>
